*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}

body{
    background-color: #1d2b3a;
    background-image: url('rolls-royce-black-badge-ghost-ekleipsis-private-collection-2023-10k-ha-1024x768.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
  
}
#calculate{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    flex-direction: column;
    gap: 20px;
}
.inputBox{
    position: relative;
    width: 250px;
    padding-top:10px;
    padding-bottom: 10px;
    margin:0;
}
.inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255,255,2555,0,25);
    background-color: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;

}
input[type="number"] {
    -moz-appearance: textfield;
}

.inputBox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255,255,255,0,25);
    text-transform: uppercase;
    transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color:#00dfc4;
    transform: translateX(10px) translateY(-7px);
    font-size:0.65em;
    padding: 0 10px;
    background: #1d2b3a;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2em;
}
.inputBox input:valid,
.inputBox input:focus{
    border: 1px solid #00dfc4;
}
.predictBox{
   background: #1d2b3a;
   border: 1px solid rgba(255,255,2555,0,25);
   padding: 5px;
   border-radius: 5px;
}

.predictBox:hover{
    transform: translateX(3px) translateY(-2px);
    letter-spacing: 0.02em;
    border: 1px solid #00dfc4;
    color:#00dfc4;
}
#Gender{
    padding: -20px !important;
}
.Heading{
    display: flex;
}
.menu{
    margin-left: 800px;
    margin-top:15px;
    font-size:large;

    
}
#about{
    position:relative;
    margin-left:0px;
    margin-top:20px;
    
}
a{
    text-decoration: none;
}
.brand{
    padding:10px;
    font-size: large;
}
.predictionText{
    font-size: large;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 100px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
h5{
    color: #bbbbbb;
    font-size: medium;
    width: 500px;
}
#team{
    margin-left:250px;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color:blue;
}


@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}